<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>About</title>
  </head>
  <body>
    <nav class="navbar navbar-light-active-color" style="background-color: #dadfe6;">
        <div class="container-fluid">
            <h3 class="mt-5"><strong>Save The Children</h3></strong>
            <h5 class="mt-4">
                The Child Care Fund,commonly known as Save the Children, was established in the 2020 to improve the lives of children through better education,
                health care, and economic opportunities, as well as providing emergency aid in natural disasters, war, and other conflicts.
                It is now a global movement made up of 30 national member organizations which works in more than 10 different states.
                Headquartered in Kolkata, the organisation promotes policy changes to gain more rights for young people especially by enforcing the UN Declaration of the 
                Rights of the Child. Saving the Children through co-ordinate emergency-relief efforts, helping to protect children from the post effects of war and violence.
            </h5>
            <h4 class="mt-5"><strong>SUPPORT A VULNERABLE CHILD IN A COMMUNITY</h4></strong>
            <h5>  
                Socio-political and economic factors can destabilize families. Through our community outreach programme we aim at creating greater capacities of these vulnerable 
                families to attain economic and social empowerment and focus on a holistic sustainable development model that addresses the root causes of child abandonment.
                Our Family Strengthening Programme helps us to keep the biological families together and touches the lives of nearly 25000 children across 32 locations.
                Families experiencing crisis or extreme hardships may have difficulty caring adequately for their children, and often this can lead to child abandonment. 
                Family Strengthening Programme (FSP) is a preventive measure whereby the families belonging to the most vulnerable sections of the society, those who are lost 
                in the quagmire of poverty, social discrimination and are facing many other challenges to make ends meet are strengthened to avoid abandonment of children. 
                Such families often belong to the below poverty line category and are caught up in the vicious cycle of economic, socio and cultural deprivations.
                Under FSP, we work with families and communities to help them build their capacities so that children are taken care of and their overall development 
                does not get hampered, thereby reducing the risk of abandonment. FSP interventions range from providing essential services to children, such as education, 
                health and nutrition services, livelihoods for families and capacity building of caregivers and children to become sustainable leading to their self-reliance.
            </h5>
            <h5 class="mt-5">
            <strong>
                Your donation will ensure that No child is at the risk of losing parental care and every child has a right to be nurtured so that they may reach 
                their full potential to become self-reliant and responsible citizens.
            </strong>
            </h5>
            <h2 class="mt-5"><strong>Our Impact - Supporting Children Wherever they are</strong></h2>
            <div class="row mt-5">
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><strong>Family Like Care</h5></strong>
                      <p class="card-text">Recreating family like environment for 900+ 
                        children with a stable caregiver and social relationships</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><strong>Family Strengthening</h5></strong>
                      <p class="card-text">3500 Direct Beneficiaries (Below 18yrs children, VT Youth & primary caregivers)</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"><strong>Kinship Care</h5></strong>
                        <p class="card-text">Ensuring 279 + children grow up in natural cultural environments (in 182 Kinship families )</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"><strong>Short Stay Homes</h5></strong>
                        <p class="card-text">10 short stay homes are operating in 10 Children's Villages</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-5">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"><strong>Disaster & Emergency</h5></strong>
                        <p class="card-text">200 children supported last year during emergencies and disasters</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-5">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"><strong>Education & Skilling</h5></strong>
                        <p class="card-text">120 youth got their first job and training program</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-5">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"><strong>Foster Care</h5></strong>
                        <p class="card-text">25 children reached out, 18 Care Leavers</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-5">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"><strong>Special Children</h5></strong>
                        <p class="card-text">Specially abled children extended lifelong care</p>
                      </div>
                    </div>
                </div>
              </div>
        </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>